@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar-custom {
  background-color: #C1666B ;
}

.nav-link {
  color: white;
  font-size: 1.2em;
}
.active {
  color: black;
}

.nav-link:hover {
  color: black;
  font-weight: 700;
}

.logo {
  border-radius:40px;
}